html, body {
  height: 100%;
  background-color: #F8F9F9;
}

.container-fluid {
  height: 100%;
}

.form-group {
  margin: 33px;
  border-radius: 6px;
}

.form-control {
  border-radius: 6px;
  height: 57vh;
}

.map {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  height: 75%;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.span {
  background-color: red;
}
